[Desktop Entry]
Version=1.2
Type=Application
Name=DBus Signals for Phidgets - InterfaceKit
Comment=See http://jldupont.blogspot.com/
Exec=phidgets-ifk
Icon=phidgets-ifk
