[Desktop Entry]
Version=1.0
Type=Application
Name=DBus Signals for Phidgets Manager
Comment=See http://jldupont.blogspot.com/
Exec=phidgets-manager
Icon=phidgets-manager
