[Desktop Entry]
Version=1.2
Type=Application
Name=DBus Signals for Phidgets - Sensors
Comment=See http://jldupont.blogspot.com/
Exec=phidgets-sensors
Icon=phidgets-sensors
